In [52]:
import re
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [53]:

url_g="https://baniola.tn/voitures"

# nbre_page=39
nbre_page=2
n=0

marques = []
modeles = []
years = []
puissances_fiscales = []
prices = []
kilometrages = []
boites = []
fuels = []  
cylindres = []
nbre_portes = []
prices=[]
negotiables = []
total_df = pd.DataFrame()

In [54]:
for n in range(nbre_page):

    url=url_g+"?page="+str(n*50)

    code_page=requests.get(url)

    soup=BeautifulSoup(code_page.text,'html.parser')

    print('the url now is :',url)
    
    #extraire les liens des voitures pour plus de details:
    links_container=soup.findAll('div',class_='card-body')
    # print(links_container[0])


    links = []
    for item in links_container:
        link_tag = item.find('a', class_='card-title text-capitalize', href=True)
        if link_tag:
            link = link_tag['href']
            links.append(link)
    

    # extraire les features des voitures à partir de la page details de chaque voiture + les prix:
 
    for link in links:
        print('-------------------')
        page_voiture=requests.get(link)
        soup_voiture=BeautifulSoup(page_voiture.text,'html.parser')

        prices_container=soup_voiture.findAll('div',class_='price')
        for price in prices_container:
            price_text = price.text.strip()
            # Utiliser une expression régulière pour extraire le nombre
            price_number = re.search(r'\d+', price_text.replace('TND', '').replace(' ', ''))
            if price_number:
                prices.append(price_number.group())
            else:
                prices.append(np.nan)  

            # Vérifier la présence de l'état de négociation
            if 'Négociable' in price_text:
                negotiables.append('Négociable')
            elif 'Non Négociable' in price_text:
                negotiables.append('Non Négociable')
            else:
                negotiables.append(np.nan)

        # print(prices)
        # print(negotiables)

        liste_features=soup_voiture.findAll('div',class_='value')
        # print(liste_features.__len__())
        for i in range(len(liste_features)):

            feature=liste_features[i].text.strip()
            # print(feature)

            if feature:
                if i == 0:
                    marques.append(feature)
                elif i == 1:
                    modeles.append(feature)
                elif i == 2:
                    years.append(feature)
                elif i == 3:
                    puissances_fiscales.append(feature)
                elif i == 4:
                    kilometrages.append(feature)
                elif i == 5:
                    boites.append(feature)
                elif i == 6:
                    fuels.append(feature)
                elif i == 7:
                    cylindres.append(feature)
                elif i == 8:
                    nbre_portes.append(feature)
            else:
                if i == 0:
                    marques.append(np.nan)
                elif i == 1:
                    modeles.append(np.nan)
                elif i == 2:
                    years.append(np.nan)
                elif i == 3:
                    puissances_fiscales.append(np.nan)
                elif i == 4:
                    kilometrages.append(np.nan)
                elif i == 5:
                    boites.append(np.nan)
                elif i == 6:
                    fuels.append(np.nan)
                elif i == 7:
                    cylindres.append(np.nan)
                elif i == 8:
                    nbre_portes.append(np.nan)

     
        if len(cylindres) < len(prices):
            cylindres.append(np.nan)
            # print(len(cylindres))
        if len(nbre_portes) < len(prices):
            nbre_portes.append(np.nan)
            # print(len(nbre_portes))
                
    if len(prices) == len(marques) == len(modeles) == len(kilometrages) == len(years) == len(boites) == len(puissances_fiscales) == len(fuels) == len(negotiables) == len(cylindres) == len(nbre_portes):
            data = {
                'Marque': marques,
                'Modèle': modeles,
                'year': years,
                'road': kilometrages,
                'boite': boites,
                'horsepower': puissances_fiscales,
                'fuel': fuels,
                'nbre_portes': nbre_portes,
                'cylindrée': cylindres,
                'negociable': negotiables,
                'Prix': prices
            }
            df = pd.DataFrame(data)
            print(df)
            
    total_df = pd.concat([total_df, df], ignore_index=True)

    total_df.to_csv('../data/baniola.csv', index=False)
    print(df)

the url now is : https://baniola.tn/voitures?page=0
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
        Marque      Modèle  year        road        boite horsepower     fuel  \
0       Nissan       Micra  2020   74 500 KM     Manuelle       5 CV  Essence
1   Volkswagen        Golf  1995  287 204 KM     Manuelle       6 CV   Diesel
2     Mercedes    Classe E  2010  300 000 KM     Manuelle       7 CV   Diesel
3       Suzuki      Autres  2020   88 000 KM     Manuelle       5 CV  Essence
4      Peugeot         308  2014   99 500 KM     Manuelle       5 CV  Essence
5       Suzuki      Autres  2020   90 000 KM     Manuelle       5 CV  Essence
6          Bmw  SERIE 3 VI  2007  250 000 KM  Automatique      10 CV   Diesel
7      Peugeot         308  2015  180 000 KM     Manuelle       5 CV  Essence
8      Renault      Kangoo  2012  240 000 KM     Manuelle       5 CV   Diesel
9   Volkswagen       Caddy  2021  179 000 KM     Manuelle       5 CV   Diesel
10  Volkswagen        Polo  2012  350 000 KM     Manuelle       5 CV   Diesel
11        Seat       Arona  2021   58 000 KM     Manuelle       6 CV  Essence
12  Volkswagen        Golf  2005      300 KM     Manuelle       5 CV   Diesel
13  Volkswagen      Amarok  2014   45 000 KM  Automatique       7 CV   Diesel
14    Infiniti       AUTRE  2023    8 000 KM  Automatique      10 CV  Essence
15       Chery       Tiggo  2020  100 000 KM     Manuelle       6 CV  Essence
16         Kia         RIO  2018      108 KM     Manuelle       5 CV  Essence
17    Mahindra     KUV 100  2022   10 300 KM     Manuelle       5 CV   Diesel
18     Citroen        NEMO  2017      150 KM     Manuelle       5 CV   Diesel
19     Peugeot        3008  2020   87 000 KM  Automatique       9 CV  Essence
20  Volkswagen      Golf 6  2011      170 KM     Manuelle       5 CV   Diesel
21         Kia     PICANTO  2010      137 KM     Manuelle       4 CV  Essence
22        Audi          A4  2013  248 705 KM     Manuelle       7 CV  Essence
23         Kia         RIO  2021   92 000 KM     Manuelle       5 CV  Essence
24         Kia         RIO  2021   89 000 KM     Manuelle       5 CV  Essence
25     Hyundai         I20  2021   39 000 KM     Manuelle       5 CV  Essence
26       Mazda      MAZDA5  2006      243 KM  Automatique     +20 CV   Diesel
27        Fiat       DOBLO  2014      115 KM     Manuelle       4 CV   Diesel
28        Ford      FIESTA  2013  183 000 KM     Manuelle       5 CV  Essence
29         Kia         RIO  2017  172 000 KM     Manuelle       5 CV  Essence
30        Fiat       PANDA  2009  178 000 KM     Manuelle       4 CV  Essence
31     Citroen          C3  2019   29 000 KM     Manuelle       4 CV  Essence
32       Dacia      DOKKER  2021   40 000 KM     Manuelle       6 CV   Diesel
33     Hyundai         I10  2021   41 000 KM     Manuelle       5 CV  Essence
34        Seat       Ibiza  2017  140 000 KM     Manuelle       4 CV  Essence
35     Hyundai    SANTA FE  2022   23 000 KM  Automatique       9 CV  Hybride
36     Renault        Clio  2008  322 000 KM     Manuelle       5 CV  Essence
37        Fiat       AUTRE  2004  298 000 KM     Manuelle       5 CV  Essence
38        Fiat       PUNTO  1997  297 000 KM     Manuelle       4 CV  Essence
39        Opel       Agila  2001  284 000 KM     Manuelle       5 CV  Essence
40     Peugeot         206  2012  110 000 KM     Manuelle       4 CV  Essence
41         Kia         RIO  2022      133 KM  Automatique       5 CV  Essence
42     Peugeot         307  2006  490 000 KM     Manuelle       6 CV  Essence
43       Mazda        CX-5  2018   30 000 KM  Automatique       9 CV   Diesel
44  Great-wall       MK-GT  2021   36 000 KM     Manuelle       6 CV  Essence
45       Mazda      MAZDA6  2018  157 000 KM  Automatique       8 CV  Essence
46        Audi          Q3  2019   77 000 KM  Automatique       6 CV  Essence
47     Peugeot         405  1971        1 KM     Manuelle       4 CV   Diesel
48     Peugeot         508  2019  112 000 KM  Automatique       7 CV   Diesel
49    Mahindra     KUV 100  2018   68 000 KM     Manuelle       5 CV  Essence

   nbre_portes cylindrée  negociable      Prix
0            5       3 L  Négociable     33500
1          NaN         5  Négociable     15700
2            5      12 L  Négociable     72000
3            5       3 L  Négociable     36500
4            5       3 L  Négociable     34000
5            5       3 L  Négociable     35800
6          NaN         3         NaN         1
7            5       3 L  Négociable     32000
8            3       6 L         NaN     24500
9            3      11 L         NaN        50
10           5       7 L  Négociable     26000
11           5       7 L         NaN     68000
12           5       5 L  Négociable         0
13         NaN         5  Négociable       125
14           5       7 L         NaN    215000
15           5       7 L         NaN     42500
16           5       3 L  Négociable     49900
17         NaN       3 L  Négociable         0
18           5       4 L  Négociable        25
19           5       3 L  Négociable     90000
20           5       7 L  Négociable        38
21           5       2 L  Négociable     24500
22           5       9 L  Négociable     45000
23         NaN         5  Négociable     43500
24         NaN         5  Négociable     44000
25           5       3 L         NaN     63000
26           5      11 L  Négociable        20
27           3       4 L         NaN        20
28           5       5 L  Négociable     25900
29           5       3 L  Négociable     39000
30           5       1 L  Négociable     23900
31         NaN         5         NaN     42500
32           3       6 L  Négociable     39000
33           5       3 L  Négociable     49500
34           5       1 L         NaN    370000
35           5       7 L  Négociable        85
36           5       3 L         NaN     22500
37           5      21 L         NaN  17000000
38           5      31 L  Négociable     13200
39           5       3 L  Négociable     16200
40         NaN         5  Négociable     22700
41           5       3 L  Négociable     59000
42         NaN         5  Négociable     25000
43         NaN       NaN         NaN    140000
44           5       3 L  Négociable     45500
45           5      11 L  Négociable        61
46           5       1 L         NaN     95000
47         NaN         5  Négociable     22000
48           5       6 L  Négociable     95000
49           5       3 L         NaN     26800
        Marque      Modèle  year        road        boite horsepower     fuel  \
0       Nissan       Micra  2020   74 500 KM     Manuelle       5 CV  Essence
1   Volkswagen        Golf  1995  287 204 KM     Manuelle       6 CV   Diesel
2     Mercedes    Classe E  2010  300 000 KM     Manuelle       7 CV   Diesel
3       Suzuki      Autres  2020   88 000 KM     Manuelle       5 CV  Essence
4      Peugeot         308  2014   99 500 KM     Manuelle       5 CV  Essence
5       Suzuki      Autres  2020   90 000 KM     Manuelle       5 CV  Essence
6          Bmw  SERIE 3 VI  2007  250 000 KM  Automatique      10 CV   Diesel
7      Peugeot         308  2015  180 000 KM     Manuelle       5 CV  Essence
8      Renault      Kangoo  2012  240 000 KM     Manuelle       5 CV   Diesel
9   Volkswagen       Caddy  2021  179 000 KM     Manuelle       5 CV   Diesel
10  Volkswagen        Polo  2012  350 000 KM     Manuelle       5 CV   Diesel
11        Seat       Arona  2021   58 000 KM     Manuelle       6 CV  Essence
12  Volkswagen        Golf  2005      300 KM     Manuelle       5 CV   Diesel
13  Volkswagen      Amarok  2014   45 000 KM  Automatique       7 CV   Diesel
14    Infiniti       AUTRE  2023    8 000 KM  Automatique      10 CV  Essence
15       Chery       Tiggo  2020  100 000 KM     Manuelle       6 CV  Essence
16         Kia         RIO  2018      108 KM     Manuelle       5 CV  Essence
17    Mahindra     KUV 100  2022   10 300 KM     Manuelle       5 CV   Diesel
18     Citroen        NEMO  2017      150 KM     Manuelle       5 CV   Diesel
19     Peugeot        3008  2020   87 000 KM  Automatique       9 CV  Essence
20  Volkswagen      Golf 6  2011      170 KM     Manuelle       5 CV   Diesel
21         Kia     PICANTO  2010      137 KM     Manuelle       4 CV  Essence
22        Audi          A4  2013  248 705 KM     Manuelle       7 CV  Essence
23         Kia         RIO  2021   92 000 KM     Manuelle       5 CV  Essence
24         Kia         RIO  2021   89 000 KM     Manuelle       5 CV  Essence
25     Hyundai         I20  2021   39 000 KM     Manuelle       5 CV  Essence
26       Mazda      MAZDA5  2006      243 KM  Automatique     +20 CV   Diesel
27        Fiat       DOBLO  2014      115 KM     Manuelle       4 CV   Diesel
28        Ford      FIESTA  2013  183 000 KM     Manuelle       5 CV  Essence
29         Kia         RIO  2017  172 000 KM     Manuelle       5 CV  Essence
30        Fiat       PANDA  2009  178 000 KM     Manuelle       4 CV  Essence
31     Citroen          C3  2019   29 000 KM     Manuelle       4 CV  Essence
32       Dacia      DOKKER  2021   40 000 KM     Manuelle       6 CV   Diesel
33     Hyundai         I10  2021   41 000 KM     Manuelle       5 CV  Essence
34        Seat       Ibiza  2017  140 000 KM     Manuelle       4 CV  Essence
35     Hyundai    SANTA FE  2022   23 000 KM  Automatique       9 CV  Hybride
36     Renault        Clio  2008  322 000 KM     Manuelle       5 CV  Essence
37        Fiat       AUTRE  2004  298 000 KM     Manuelle       5 CV  Essence
38        Fiat       PUNTO  1997  297 000 KM     Manuelle       4 CV  Essence
39        Opel       Agila  2001  284 000 KM     Manuelle       5 CV  Essence
40     Peugeot         206  2012  110 000 KM     Manuelle       4 CV  Essence
41         Kia         RIO  2022      133 KM  Automatique       5 CV  Essence
42     Peugeot         307  2006  490 000 KM     Manuelle       6 CV  Essence
43       Mazda        CX-5  2018   30 000 KM  Automatique       9 CV   Diesel
44  Great-wall       MK-GT  2021   36 000 KM     Manuelle       6 CV  Essence
45       Mazda      MAZDA6  2018  157 000 KM  Automatique       8 CV  Essence
46        Audi          Q3  2019   77 000 KM  Automatique       6 CV  Essence
47     Peugeot         405  1971        1 KM     Manuelle       4 CV   Diesel
48     Peugeot         508  2019  112 000 KM  Automatique       7 CV   Diesel
49    Mahindra     KUV 100  2018   68 000 KM     Manuelle       5 CV  Essence

   nbre_portes cylindrée  negociable      Prix
0            5       3 L  Négociable     33500
1          NaN         5  Négociable     15700
2            5      12 L  Négociable     72000
3            5       3 L  Négociable     36500
4            5       3 L  Négociable     34000
5            5       3 L  Négociable     35800
6          NaN         3         NaN         1
7            5       3 L  Négociable     32000
8            3       6 L         NaN     24500
9            3      11 L         NaN        50
10           5       7 L  Négociable     26000
11           5       7 L         NaN     68000
12           5       5 L  Négociable         0
13         NaN         5  Négociable       125
14           5       7 L         NaN    215000
15           5       7 L         NaN     42500
16           5       3 L  Négociable     49900
17         NaN       3 L  Négociable         0
18           5       4 L  Négociable        25
19           5       3 L  Négociable     90000
20           5       7 L  Négociable        38
21           5       2 L  Négociable     24500
22           5       9 L  Négociable     45000
23         NaN         5  Négociable     43500
24         NaN         5  Négociable     44000
25           5       3 L         NaN     63000
26           5      11 L  Négociable        20
27           3       4 L         NaN        20
28           5       5 L  Négociable     25900
29           5       3 L  Négociable     39000
30           5       1 L  Négociable     23900
31         NaN         5         NaN     42500
32           3       6 L  Négociable     39000
33           5       3 L  Négociable     49500
34           5       1 L         NaN    370000
35           5       7 L  Négociable        85
36           5       3 L         NaN     22500
37           5      21 L         NaN  17000000
38           5      31 L  Négociable     13200
39           5       3 L  Négociable     16200
40         NaN         5  Négociable     22700
41           5       3 L  Négociable     59000
42         NaN         5  Négociable     25000
43         NaN       NaN         NaN    140000
44           5       3 L  Négociable     45500
45           5      11 L  Négociable        61
46           5       1 L         NaN     95000
47         NaN         5  Négociable     22000
48           5       6 L  Négociable     95000
49           5       3 L         NaN     26800
the url now is : https://baniola.tn/voitures?page=50
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
-------------------
        Marque    Modèle  year        road        boite horsepower     fuel  \
0       Nissan     Micra  2020   74 500 KM     Manuelle       5 CV  Essence
1   Volkswagen      Golf  1995  287 204 KM     Manuelle       6 CV   Diesel
2     Mercedes  Classe E  2010  300 000 KM     Manuelle       7 CV   Diesel
3       Suzuki    Autres  2020   88 000 KM     Manuelle       5 CV  Essence
4      Peugeot       308  2014   99 500 KM     Manuelle       5 CV  Essence
..         ...       ...   ...         ...          ...        ...      ...
95     Renault       Zoe  2010       83 KM     Manuelle       5 CV  Essence
96     Renault    Kadjar  2019  160 000 KM  Automatique       7 CV  Essence
97  Volkswagen     Caddy  2017      180 KM     Manuelle       5 CV   Diesel
98    Mercedes  Classe E  2017   60 000 KM  Automatique      10 CV  Essence
99     Hyundai    TUCSON  2022   42 000 KM  Automatique       7 CV   Diesel

   nbre_portes cylindrée  negociable      Prix
0            5       3 L  Négociable     33500
1          NaN         5  Négociable     15700
2            5      12 L  Négociable     72000
3            5       3 L  Négociable     36500
4            5       3 L  Négociable     34000
..         ...       ...         ...       ...
95           5       3 L  Négociable  28886696
96         NaN         5  Négociable     55000
97           3       7 L  Négociable        42
98           3       7 L  Négociable    185000
99           5       7 L         NaN    135000

[100 rows x 11 columns]
        Marque    Modèle  year        road        boite horsepower     fuel  \
0       Nissan     Micra  2020   74 500 KM     Manuelle       5 CV  Essence
1   Volkswagen      Golf  1995  287 204 KM     Manuelle       6 CV   Diesel
2     Mercedes  Classe E  2010  300 000 KM     Manuelle       7 CV   Diesel
3       Suzuki    Autres  2020   88 000 KM     Manuelle       5 CV  Essence
4      Peugeot       308  2014   99 500 KM     Manuelle       5 CV  Essence
..         ...       ...   ...         ...          ...        ...      ...
95     Renault       Zoe  2010       83 KM     Manuelle       5 CV  Essence
96     Renault    Kadjar  2019  160 000 KM  Automatique       7 CV  Essence
97  Volkswagen     Caddy  2017      180 KM     Manuelle       5 CV   Diesel
98    Mercedes  Classe E  2017   60 000 KM  Automatique      10 CV  Essence
99     Hyundai    TUCSON  2022   42 000 KM  Automatique       7 CV   Diesel

   nbre_portes cylindrée  negociable      Prix
0            5       3 L  Négociable     33500
1          NaN         5  Négociable     15700
2            5      12 L  Négociable     72000
3            5       3 L  Négociable     36500
4            5       3 L  Négociable     34000
..         ...       ...         ...       ...
95           5       3 L  Négociable  28886696
96         NaN         5  Négociable     55000
97           3       7 L  Négociable        42
98           3       7 L  Négociable    185000
99           5       7 L         NaN    135000

[100 rows x 11 columns]

In [55]:
print(total_df.duplicated().sum())
for item in total_df.duplicated():
    if item == True:
        print(item)

50
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True