In [1]:
import pandas as pd
import datetime

In [2]:
df_baniola=pd.read_csv('baniola1.csv')
df_automobile=pd.read_csv('automobile_data.csv')

In [3]:
print(df_baniola.head())
print('--------------------------------------------------------------------')
print(df_automobile.head())

    Marque   Modèle  year horsepower        road     boite     fuel cylindrée  \
0     Fiat  FIORINO  2020       5 CV      180 KM  Manuelle   Diesel       4 L
1  Peugeot      308  2015       5 CV  180 000 KM  Manuelle  Essence       3 L
2  Renault   Kangoo  2012       5 CV  240 000 KM  Manuelle   Diesel       6 L
3   Suzuki   Autres  2020       5 CV   90 000 KM  Manuelle  Essence       3 L
4   Suzuki   Autres  2020       5 CV   88 000 KM  Manuelle  Essence       3 L

   nbre_portes  Negociable   Prix
0          3.0  Négociable     30
1          5.0  Négociable  32000
2          3.0         NaN  24500
3          5.0  Négociable  35800
4          5.0  Négociable  36500
--------------------------------------------------------------------
          Marque             Modèle  year        road        boite horsepower  \
0  Mercedes-Benz           Classe E  2024        0 km  Automatique      10 cv
1        Peugeot               2008  2014  162 000 km     Manuelle       5 cv
2          Mazda                  6  2013  256 000 km  Automatique       9 cv
3           Ford  Ecosport Titanium  2022   60 000 km     Manuelle       7 cv
4         Toyota         C-HR Sport  2020  162 000 km  Automatique       6 cv

      fuel  nbre_portes  cylindrée transmission     Prix
0  Essence          4.0     1400.0    Intégrale  430 000
1  Essence          4.0     2398.0     Traction   36 000
2  Essence          5.0      999.0     Traction   33 000
3  Essence          5.0     1497.0     Traction   68 000
4  Essence          4.0     1999.0     Traction   73 000

In [4]:
# on va supprimer le feature "negiciable" de df_baniola car il n'a pas d'impact dans la prediction de prix des voiture.
df_baniola.drop('Negociable', axis=1, inplace=True)

In [5]:
# on va supprimer le feature "transmission" de df_automobile car il n'existe pas dans df_baniola
df_automobile.drop('transmission', axis=1, inplace=True)

In [6]:
print(df_baniola.head())
print('--------------------------------------------------------------------')
print(df_automobile.head())

    Marque   Modèle  year horsepower        road     boite     fuel cylindrée  \
0     Fiat  FIORINO  2020       5 CV      180 KM  Manuelle   Diesel       4 L
1  Peugeot      308  2015       5 CV  180 000 KM  Manuelle  Essence       3 L
2  Renault   Kangoo  2012       5 CV  240 000 KM  Manuelle   Diesel       6 L
3   Suzuki   Autres  2020       5 CV   90 000 KM  Manuelle  Essence       3 L
4   Suzuki   Autres  2020       5 CV   88 000 KM  Manuelle  Essence       3 L

   nbre_portes   Prix
0          3.0     30
1          5.0  32000
2          3.0  24500
3          5.0  35800
4          5.0  36500
--------------------------------------------------------------------
          Marque             Modèle  year        road        boite horsepower  \
0  Mercedes-Benz           Classe E  2024        0 km  Automatique      10 cv
1        Peugeot               2008  2014  162 000 km     Manuelle       5 cv
2          Mazda                  6  2013  256 000 km  Automatique       9 cv
3           Ford  Ecosport Titanium  2022   60 000 km     Manuelle       7 cv
4         Toyota         C-HR Sport  2020  162 000 km  Automatique       6 cv

      fuel  nbre_portes  cylindrée     Prix
0  Essence          4.0     1400.0  430 000
1  Essence          4.0     2398.0   36 000
2  Essence          5.0      999.0   33 000
3  Essence          5.0     1497.0   68 000
4  Essence          4.0     1999.0   73 000

In [8]:
# fusionner les 2 dataframes:
df = pd.concat([df_automobile, df_baniola], ignore_index=True)

In [9]:
print(df)

              Marque             Modèle  year        road        boite  \
0      Mercedes-Benz           Classe E  2024        0 km  Automatique
1            Peugeot               2008  2014  162 000 km     Manuelle
2              Mazda                  6  2013  256 000 km  Automatique
3               Ford  Ecosport Titanium  2022   60 000 km     Manuelle
4             Toyota         C-HR Sport  2020  162 000 km  Automatique
...              ...                ...   ...         ...          ...
17395           Opel             Kadett  1991       16 KM     Manuelle
17396           Ford             FIESTA  2013  170 000 KM     Manuelle
17397     Volkswagen               Golf  2010  276 000 KM     Manuelle
17398      Chevrolet              CRUZE  2014  199 585 KM     Manuelle
17399        Renault             Scenic  2007  299 000 KM     Manuelle

      horsepower     fuel  nbre_portes cylindrée     Prix
0          10 cv  Essence          4.0    1400.0  430 000
1           5 cv  Essence          4.0    2398.0   36 000
2           9 cv  Essence          5.0     999.0   33 000
3           7 cv  Essence          5.0    1497.0   68 000
4           6 cv  Essence          4.0    1999.0   73 000
...          ...      ...          ...       ...      ...
17395       5 CV  Essence          5.0       9 L     7500
17396       5 CV  Essence          5.0      25 L    19000
17397       7 CV  Essence          5.0       7 L    37000
17398       7 CV  Essence          5.0       5 L    32000
17399       8 CV   Diesel          5.0      10 L    23000

[17400 rows x 10 columns]

In [32]:
# drop duplicates:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)

15013

In [33]:
#  convert year to age:
current_year = datetime.datetime.now().year
print (current_year)
print (df)
df['age'] = current_year - df['year']
df=df[['Marque', 'Modèle', 'year', 'age', 'road', 'boite', 'horsepower','fuel','nbre_portes','cylindrée','Prix']]
df.drop('year', axis=1, inplace=True)
print(df)

2024
              Marque                              Modèle  year        road  \
0            Peugeot                             Partner  2014  220 000 km
1      Mercedes-Benz                        Classe E AMG  2018   95 000 km
2               Land  Rover Range Rover Evoque R-Dynamic  2016  150 000 km
3      Mercedes-Benz                        Classe C AMG  2019  135 000 km
4                BMW                  Série 4 Gran Coupé  2019   90 000 km
...              ...                                 ...   ...         ...
16195           Opel                              Kadett  1991       16 KM
16196           Ford                              FIESTA  2013  170 000 KM
16197     Volkswagen                                Golf  2010  276 000 KM
16198      Chevrolet                               CRUZE  2014  199 585 KM
16199        Renault                              Scenic  2007  299 000 KM

             boite horsepower     fuel  nbre_portes cylindrée   Prix
0         Manuelle       5 cv   Diesel          NaN       NaN     37
1      Automatique       9 cv  Essence          4.0    1499.0    155
2      Automatique      10 cv   Diesel          5.0    1111.0    122
3      Automatique       8 cv  Essence          5.0     999.0    161
4      Automatique       7 cv  Essence          4.0    1968.0    145
...            ...        ...      ...          ...       ...    ...
16195     Manuelle       5 CV  Essence          5.0       9 L   7500
16196     Manuelle       5 CV  Essence          5.0      25 L  19000
16197     Manuelle       7 CV  Essence          5.0       7 L  37000
16198     Manuelle       7 CV  Essence          5.0       5 L  32000
16199     Manuelle       8 CV   Diesel          5.0      10 L  23000

[2387 rows x 10 columns]

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [105]:
# renomer la colonne road en "kilometrage"
df.rename(columns={'road':'kilometrage'}, inplace=True)
print(df)

            Marque                    Modèle  age kilometrage        boite  \
0       Volkswagen                      Polo   20  193 000 km     Manuelle
1             Land  Rover Range Rover Evoque   10  198 000 km  Automatique
2    Mercedes-Benz                   GLA AMG    7  150 000 km  Automatique
3          Peugeot                       208    9  110 000 km     Manuelle
4              BMW    Série 3 coupé Kit M///   12  152 000 km     Manuelle
..             ...                       ...  ...         ...          ...
169        Renault                       Zoe   14       83 KM     Manuelle
170        Renault                    Kadjar    5  160 000 KM  Automatique
171     Volkswagen                     Caddy    7      180 KM     Manuelle
172       Mercedes                  Classe E    7   60 000 KM  Automatique
173        Hyundai                    TUCSON    2   42 000 KM  Automatique

    horsepower     fuel  nbre_portes cylindrée      Prix
0         5 cv  Essence          NaN      1000    16 400
1        11 cv   Diesel          NaN      1197   110 000
2         7 cv  Essence          NaN      3000   105 000
3         5 cv  Essence          NaN      1498    29 000
4        10 cv  Essence          NaN      2000    74 000
..         ...      ...          ...       ...       ...
169       5 CV  Essence          5.0       3 L  28886696
170       7 CV  Essence          NaN         5     55000
171       5 CV   Diesel          3.0       7 L        42
172      10 CV  Essence          3.0       7 L    185000
173       7 CV   Diesel          5.0       7 L    135000

[112 rows x 10 columns]