In [4279]:
import pandas as pd
import datetime
import re
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [4280]:
df_baniola=pd.read_csv('../data/baniola.csv')
df_automobile=pd.read_csv('automobile_data.csv')

In [4281]:
print(df_baniola.head())
print('--------------------------------------------------------------------')
print(df_automobile.head())

     Marque   Modèle    year        road     boite horsepower     fuel  \
0   Hyundai      I10  2015.0  180 000 KM  Manuelle       5 CV  Essence
1    Suzuki   Autres  2020.0   90 000 KM  Manuelle       5 CV  Essence
2    Suzuki   Autres  2020.0   88 000 KM  Manuelle       5 CV  Essence
3  Mahindra  KUV 100  2022.0   10 300 KM  Manuelle       5 CV   Diesel
4   Peugeot      308  2015.0  180 000 KM  Manuelle       5 CV  Essence

   nbre_portes cylindrée   Prix
0            5       NaN  28000
1            5       3 L  35800
2            5       3 L  36500
3            4       3 L      0
4            5       3 L  32000
--------------------------------------------------------------------
          Marque             Modèle  year        road        boite horsepower  \
0  Mercedes-Benz           Classe E  2024        0 km  Automatique      10 cv
1        Peugeot               2008  2014  162 000 km     Manuelle       5 cv
2          Mazda                  6  2013  256 000 km  Automatique       9 cv
3           Ford  Ecosport Titanium  2022   60 000 km     Manuelle       7 cv
4         Toyota         C-HR Sport  2020  162 000 km  Automatique       6 cv

      fuel  nbre_portes  cylindrée transmission     Prix
0  Essence          4.0     1400.0    Intégrale  430 000
1  Essence          4.0     2398.0     Traction   36 000
2  Essence          5.0      999.0     Traction   33 000
3  Essence          5.0     1497.0     Traction   68 000
4  Essence          4.0     1999.0     Traction   73 000

In [4282]:
# ajuster le feature 'cylindée' de df_automobile pour qu'il soit de type int:
df_automobile['cylindrée'] = df_automobile['cylindrée'].astype(float)/1000
print(df_automobile.head())
df_baniola['cylindrée'] = df_baniola['cylindrée'].apply(lambda x: re.search(r'\d+', x).group() if pd.notnull(x) else x)
print(df_baniola.head())

          Marque             Modèle  year        road        boite horsepower  \
0  Mercedes-Benz           Classe E  2024        0 km  Automatique      10 cv
1        Peugeot               2008  2014  162 000 km     Manuelle       5 cv
2          Mazda                  6  2013  256 000 km  Automatique       9 cv
3           Ford  Ecosport Titanium  2022   60 000 km     Manuelle       7 cv
4         Toyota         C-HR Sport  2020  162 000 km  Automatique       6 cv

      fuel  nbre_portes  cylindrée transmission     Prix
0  Essence          4.0      1.400    Intégrale  430 000
1  Essence          4.0      2.398     Traction   36 000
2  Essence          5.0      0.999     Traction   33 000
3  Essence          5.0      1.497     Traction   68 000
4  Essence          4.0      1.999     Traction   73 000
     Marque   Modèle    year        road     boite horsepower     fuel  \
0   Hyundai      I10  2015.0  180 000 KM  Manuelle       5 CV  Essence
1    Suzuki   Autres  2020.0   90 000 KM  Manuelle       5 CV  Essence
2    Suzuki   Autres  2020.0   88 000 KM  Manuelle       5 CV  Essence
3  Mahindra  KUV 100  2022.0   10 300 KM  Manuelle       5 CV   Diesel
4   Peugeot      308  2015.0  180 000 KM  Manuelle       5 CV  Essence

   nbre_portes cylindrée   Prix
0            5       NaN  28000
1            5         3  35800
2            5         3  36500
3            4         3      0
4            5         3  32000

In [4283]:
# on va supprimer le feature "transmission" de df_automobile car il n'existe pas dans df_baniola
df_automobile.drop('transmission', axis=1, inplace=True)

In [4284]:
print(df_baniola.head())
print('--------------------------------------------------------------------')
print(df_automobile.head())

     Marque   Modèle    year        road     boite horsepower     fuel  \
0   Hyundai      I10  2015.0  180 000 KM  Manuelle       5 CV  Essence
1    Suzuki   Autres  2020.0   90 000 KM  Manuelle       5 CV  Essence
2    Suzuki   Autres  2020.0   88 000 KM  Manuelle       5 CV  Essence
3  Mahindra  KUV 100  2022.0   10 300 KM  Manuelle       5 CV   Diesel
4   Peugeot      308  2015.0  180 000 KM  Manuelle       5 CV  Essence

   nbre_portes cylindrée   Prix
0            5       NaN  28000
1            5         3  35800
2            5         3  36500
3            4         3      0
4            5         3  32000
--------------------------------------------------------------------
          Marque             Modèle  year        road        boite horsepower  \
0  Mercedes-Benz           Classe E  2024        0 km  Automatique      10 cv
1        Peugeot               2008  2014  162 000 km     Manuelle       5 cv
2          Mazda                  6  2013  256 000 km  Automatique       9 cv
3           Ford  Ecosport Titanium  2022   60 000 km     Manuelle       7 cv
4         Toyota         C-HR Sport  2020  162 000 km  Automatique       6 cv

      fuel  nbre_portes  cylindrée     Prix
0  Essence          4.0      1.400  430 000
1  Essence          4.0      2.398   36 000
2  Essence          5.0      0.999   33 000
3  Essence          5.0      1.497   68 000
4  Essence          4.0      1.999   73 000

In [4285]:
# df_baniola['year'] = df_baniola['year'].str.extract(r'(\d+)')[0].astype(int)

In [4286]:
# ajuster le prix :
df_automobile['Prix'] = df_automobile['Prix'].str.replace(' ', '')
print(df_automobile.head())
df_automobile['Prix'] = df_automobile['Prix'].str.extract(r'(\d[\d\s]*)')[0].str.replace(' ', '').astype(int)

          Marque             Modèle  year        road        boite horsepower  \
0  Mercedes-Benz           Classe E  2024        0 km  Automatique      10 cv
1        Peugeot               2008  2014  162 000 km     Manuelle       5 cv
2          Mazda                  6  2013  256 000 km  Automatique       9 cv
3           Ford  Ecosport Titanium  2022   60 000 km     Manuelle       7 cv
4         Toyota         C-HR Sport  2020  162 000 km  Automatique       6 cv

      fuel  nbre_portes  cylindrée    Prix
0  Essence          4.0      1.400  430000
1  Essence          4.0      2.398   36000
2  Essence          5.0      0.999   33000
3  Essence          5.0      1.497   68000
4  Essence          4.0      1.999   73000

In [4287]:
# fusionner les 2 dataframes:
df = pd.concat([df_automobile, df_baniola], ignore_index=True)

In [4288]:
print(df)

              Marque             Modèle    year        road        boite  \
0      Mercedes-Benz           Classe E  2024.0        0 km  Automatique
1            Peugeot               2008  2014.0  162 000 km     Manuelle
2              Mazda                  6  2013.0  256 000 km  Automatique
3               Ford  Ecosport Titanium  2022.0   60 000 km     Manuelle
4             Toyota         C-HR Sport  2020.0  162 000 km  Automatique
...              ...                ...     ...         ...          ...
40194        Peugeot                508  2012.0  280 000 KM     Manuelle
40195           Audi                 A4  2018.0  114 000 KM  Automatique
40196        Renault             Koleos  2014.0   96 000 KM     Manuelle
40197       Mahindra              AUTRE  2022.0   10 500 KM     Manuelle
40198           Fiat      PALIO WEEKEND  2001.0  300 000 KM     Manuelle

      horsepower     fuel  nbre_portes cylindrée    Prix
0          10 cv  Essence          4.0       1.4  430000
1           5 cv  Essence          4.0     2.398   36000
2           9 cv  Essence          5.0     0.999   33000
3           7 cv  Essence          5.0     1.497   68000
4           6 cv  Essence          4.0     1.999   73000
...          ...      ...          ...       ...     ...
40194       9 CV  Essence          4.0       NaN      30
40195       8 CV   Diesel          4.0       NaN  150000
40196       8 CV  Essence          4.0       NaN   59000
40197       5 CV   Diesel          4.0       NaN   38500
40198       4 CV  Essence          4.0       NaN    9100

[40199 rows x 10 columns]

In [4289]:
#  ajuster le kilometrage:*
print(df['road'].dtype)

# Remove ' km' and convert to float
df['road'] = df['road'].str.replace('km', '')
df['road'] = df['road'].str.replace('KM', '')
print(df)
print(df['road'].dtype)
print(df)

object
              Marque             Modèle    year      road        boite  \
0      Mercedes-Benz           Classe E  2024.0        0   Automatique
1            Peugeot               2008  2014.0  162 000      Manuelle
2              Mazda                  6  2013.0  256 000   Automatique
3               Ford  Ecosport Titanium  2022.0   60 000      Manuelle
4             Toyota         C-HR Sport  2020.0  162 000   Automatique
...              ...                ...     ...       ...          ...
40194        Peugeot                508  2012.0  280 000      Manuelle
40195           Audi                 A4  2018.0  114 000   Automatique
40196        Renault             Koleos  2014.0   96 000      Manuelle
40197       Mahindra              AUTRE  2022.0   10 500      Manuelle
40198           Fiat      PALIO WEEKEND  2001.0  300 000      Manuelle

      horsepower     fuel  nbre_portes cylindrée    Prix
0          10 cv  Essence          4.0       1.4  430000
1           5 cv  Essence          4.0     2.398   36000
2           9 cv  Essence          5.0     0.999   33000
3           7 cv  Essence          5.0     1.497   68000
4           6 cv  Essence          4.0     1.999   73000
...          ...      ...          ...       ...     ...
40194       9 CV  Essence          4.0       NaN      30
40195       8 CV   Diesel          4.0       NaN  150000
40196       8 CV  Essence          4.0       NaN   59000
40197       5 CV   Diesel          4.0       NaN   38500
40198       4 CV  Essence          4.0       NaN    9100

[40199 rows x 10 columns]
object
              Marque             Modèle    year      road        boite  \
0      Mercedes-Benz           Classe E  2024.0        0   Automatique
1            Peugeot               2008  2014.0  162 000      Manuelle
2              Mazda                  6  2013.0  256 000   Automatique
3               Ford  Ecosport Titanium  2022.0   60 000      Manuelle
4             Toyota         C-HR Sport  2020.0  162 000   Automatique
...              ...                ...     ...       ...          ...
40194        Peugeot                508  2012.0  280 000      Manuelle
40195           Audi                 A4  2018.0  114 000   Automatique
40196        Renault             Koleos  2014.0   96 000      Manuelle
40197       Mahindra              AUTRE  2022.0   10 500      Manuelle
40198           Fiat      PALIO WEEKEND  2001.0  300 000      Manuelle

      horsepower     fuel  nbre_portes cylindrée    Prix
0          10 cv  Essence          4.0       1.4  430000
1           5 cv  Essence          4.0     2.398   36000
2           9 cv  Essence          5.0     0.999   33000
3           7 cv  Essence          5.0     1.497   68000
4           6 cv  Essence          4.0     1.999   73000
...          ...      ...          ...       ...     ...
40194       9 CV  Essence          4.0       NaN      30
40195       8 CV   Diesel          4.0       NaN  150000
40196       8 CV  Essence          4.0       NaN   59000
40197       5 CV   Diesel          4.0       NaN   38500
40198       4 CV  Essence          4.0       NaN    9100

[40199 rows x 10 columns]

In [4290]:
# #  ajuster horsepower:*
print(df['horsepower'].dtype)
df['horsepower'] = df['horsepower'].str.replace('cv', '')
df['horsepower'] = df['horsepower'].str.replace('CV', '')
df['horsepower'] = df['horsepower'].str.replace(' ', '')

print(df)

object
              Marque             Modèle    year      road        boite  \
0      Mercedes-Benz           Classe E  2024.0        0   Automatique
1            Peugeot               2008  2014.0  162 000      Manuelle
2              Mazda                  6  2013.0  256 000   Automatique
3               Ford  Ecosport Titanium  2022.0   60 000      Manuelle
4             Toyota         C-HR Sport  2020.0  162 000   Automatique
...              ...                ...     ...       ...          ...
40194        Peugeot                508  2012.0  280 000      Manuelle
40195           Audi                 A4  2018.0  114 000   Automatique
40196        Renault             Koleos  2014.0   96 000      Manuelle
40197       Mahindra              AUTRE  2022.0   10 500      Manuelle
40198           Fiat      PALIO WEEKEND  2001.0  300 000      Manuelle

      horsepower     fuel  nbre_portes cylindrée    Prix
0             10  Essence          4.0       1.4  430000
1              5  Essence          4.0     2.398   36000
2              9  Essence          5.0     0.999   33000
3              7  Essence          5.0     1.497   68000
4              6  Essence          4.0     1.999   73000
...          ...      ...          ...       ...     ...
40194          9  Essence          4.0       NaN      30
40195          8   Diesel          4.0       NaN  150000
40196          8  Essence          4.0       NaN   59000
40197          5   Diesel          4.0       NaN   38500
40198          4  Essence          4.0       NaN    9100

[40199 rows x 10 columns]

In [4291]:
# drop duplicates:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)

37073

In [4292]:
# renomer la colonne road en "kilometrage"
df.rename(columns={'road':'kilometrage'}, inplace=True)
print(df)

              Marque             Modèle    year kilometrage        boite  \
0      Mercedes-Benz           Classe E  2024.0          0   Automatique
1            Peugeot               2008  2014.0    162 000      Manuelle
2              Mazda                  6  2013.0    256 000   Automatique
3               Ford  Ecosport Titanium  2022.0     60 000      Manuelle
4             Toyota         C-HR Sport  2020.0    162 000   Automatique
...              ...                ...     ...         ...          ...
40194        Peugeot                508  2012.0    280 000      Manuelle
40195           Audi                 A4  2018.0    114 000   Automatique
40196        Renault             Koleos  2014.0     96 000      Manuelle
40197       Mahindra              AUTRE  2022.0     10 500      Manuelle
40198           Fiat      PALIO WEEKEND  2001.0    300 000      Manuelle

      horsepower     fuel  nbre_portes cylindrée    Prix
0             10  Essence          4.0       1.4  430000
1              5  Essence          4.0     2.398   36000
2              9  Essence          5.0     0.999   33000
3              7  Essence          5.0     1.497   68000
4              6  Essence          4.0     1.999   73000
...          ...      ...          ...       ...     ...
40194          9  Essence          4.0       NaN      30
40195          8   Diesel          4.0       NaN  150000
40196          8  Essence          4.0       NaN   59000
40197          5   Diesel          4.0       NaN   38500
40198          4  Essence          4.0       NaN    9100

[3126 rows x 10 columns]

In [4293]:
# unifier le feature cylindree : eliminer la lettre "L" et convertir à la meme unite 
df['kilometrage'] = df['kilometrage'].str.replace(' ', '')
print(df)

              Marque             Modèle    year kilometrage        boite  \
0      Mercedes-Benz           Classe E  2024.0           0  Automatique
1            Peugeot               2008  2014.0      162000     Manuelle
2              Mazda                  6  2013.0      256000  Automatique
3               Ford  Ecosport Titanium  2022.0       60000     Manuelle
4             Toyota         C-HR Sport  2020.0      162000  Automatique
...              ...                ...     ...         ...          ...
40194        Peugeot                508  2012.0      280000     Manuelle
40195           Audi                 A4  2018.0      114000  Automatique
40196        Renault             Koleos  2014.0       96000     Manuelle
40197       Mahindra              AUTRE  2022.0       10500     Manuelle
40198           Fiat      PALIO WEEKEND  2001.0      300000     Manuelle

      horsepower     fuel  nbre_portes cylindrée    Prix
0             10  Essence          4.0       1.4  430000
1              5  Essence          4.0     2.398   36000
2              9  Essence          5.0     0.999   33000
3              7  Essence          5.0     1.497   68000
4              6  Essence          4.0     1.999   73000
...          ...      ...          ...       ...     ...
40194          9  Essence          4.0       NaN      30
40195          8   Diesel          4.0       NaN  150000
40196          8  Essence          4.0       NaN   59000
40197          5   Diesel          4.0       NaN   38500
40198          4  Essence          4.0       NaN    9100

[3126 rows x 10 columns]

In [4294]:
print(df.isnull().sum())

Marque          71
Modèle          95
year            25
kilometrage     62
boite            0
horsepower      24
fuel             4
nbre_portes     31
cylindrée      912
Prix             0
dtype: int64

In [4295]:
# save to csv :
df.to_csv('final_data.csv', index=False)

In [4296]:
# gestion des valeurs manquantes:
print(df.isnull().sum())

df= df.dropna(subset=['fuel'])#supprimer les valeurs manquantes dans la colonne fuel car elles sont tres peu.
df= df.dropna(subset=['horsepower'])#supprimer les valeurs manquantes dans la colonne cylindrée car elles sont tres peu.
df= df.dropna(subset=['year'])#supprimer les valeurs manquantes dans la colonne year car elles sont tres peu.
df['nbre_portes'] = df['nbre_portes'].fillna(4)#remplir les valeurs manquantes par la valeur la plus frequentes



# df = df.dropna(subset=['cylindrée']) #on va les supprimer pour le moment mais on va tester le modele dans les 2 cas : avec moy de la colonne et avec dropna.
# df['cylindrée'] = df.groupby('Marque')['cylindrée'].transform(lambda x: x.fillna(x.median()))# remplacer par la mediane de la colonne cylindree pour chaque marque puisque le nombre est important donc on ne doit pas supprimer , de plus il depend de la marque .

print(df.isnull().sum())
print(df.shape)

Marque          71
Modèle          95
year            25
kilometrage     62
boite            0
horsepower      24
fuel             4
nbre_portes     31
cylindrée      912
Prix             0
dtype: int64
Marque          64
Modèle          88
year             0
kilometrage     47
boite            0
horsepower       0
fuel             0
nbre_portes      0
cylindrée      871
Prix             0
dtype: int64
(3082, 10)

In [4297]:
#  gerer les valeurs manquantes de la colonne kilometrage:selon l'age :
current_year = datetime.datetime.now().year
df['age'] = current_year - df['year']

age_to_km = df.groupby('age')['kilometrage'].median()

df['kilometrage'] = df.apply(lambda row: age_to_km[row['age']] if pd.isna(row['kilometrage']) else row['kilometrage'],axis=1)

df['kilometrage'] = df['kilometrage'].fillna(df['kilometrage'].median())

df.drop('age', axis=1, inplace=True)

d:\anaconda3\envs\myenv\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [4298]:
print(df['year'].size)

3082

In [4299]:
# ajuster les types des colonnes:
df['nbre_portes'] = pd.to_numeric(df['nbre_portes'], errors='coerce').astype('Int64')

df['kilometrage'] = pd.to_numeric(df['kilometrage'], errors='coerce')# convertir en float  
df['horsepower'] = df['horsepower'].str.extract(r'(\d[\d\s]*)')[0].str.replace(' ', '').astype(int) 
df['cylindrée'] = df['cylindrée'].astype(float) 
df['year'] = pd.to_datetime(df['year'], errors='coerce').dt.year.astype('Int64') # convertir en int

print(df.dtypes)

Marque          object
Modèle          object
year             Int64
kilometrage    float64
boite           object
horsepower       int32
fuel            object
nbre_portes      Int64
cylindrée      float64
Prix             int64
dtype: object

In [4300]:
print(df)

              Marque             Modèle  year  kilometrage        boite  \
0      Mercedes-Benz           Classe E  1970          0.0  Automatique
1            Peugeot               2008  1970     162000.0     Manuelle
2              Mazda                  6  1970     256000.0  Automatique
3               Ford  Ecosport Titanium  1970      60000.0     Manuelle
4             Toyota         C-HR Sport  1970     162000.0  Automatique
...              ...                ...   ...          ...          ...
40194        Peugeot                508  1970     280000.0     Manuelle
40195           Audi                 A4  1970     114000.0  Automatique
40196        Renault             Koleos  1970      96000.0     Manuelle
40197       Mahindra              AUTRE  1970      10500.0     Manuelle
40198           Fiat      PALIO WEEKEND  1970     300000.0     Manuelle

       horsepower     fuel  nbre_portes  cylindrée    Prix
0              10  Essence            4      1.400  430000
1               5  Essence            4      2.398   36000
2               9  Essence            5      0.999   33000
3               7  Essence            5      1.497   68000
4               6  Essence            4      1.999   73000
...           ...      ...          ...        ...     ...
40194           9  Essence            4        NaN      30
40195           8   Diesel            4        NaN  150000
40196           8  Essence            4        NaN   59000
40197           5   Diesel            4        NaN   38500
40198           4  Essence            4        NaN    9100

[3082 rows x 10 columns]

In [4301]:
# encoder les valeurs de la colonne de type string en type int:
label_encoder = LabelEncoder()
print(df['boite'].unique())
print(df['fuel'].unique())
# print(df)

['Automatique' 'Manuelle']
['Essence' 'Diesel' 'Hybride' 'Electrique']

In [4302]:
# df.dropna(inplace=True)
print(df)

              Marque             Modèle  year  kilometrage        boite  \
0      Mercedes-Benz           Classe E  1970          0.0  Automatique
1            Peugeot               2008  1970     162000.0     Manuelle
2              Mazda                  6  1970     256000.0  Automatique
3               Ford  Ecosport Titanium  1970      60000.0     Manuelle
4             Toyota         C-HR Sport  1970     162000.0  Automatique
...              ...                ...   ...          ...          ...
40194        Peugeot                508  1970     280000.0     Manuelle
40195           Audi                 A4  1970     114000.0  Automatique
40196        Renault             Koleos  1970      96000.0     Manuelle
40197       Mahindra              AUTRE  1970      10500.0     Manuelle
40198           Fiat      PALIO WEEKEND  1970     300000.0     Manuelle

       horsepower     fuel  nbre_portes  cylindrée    Prix
0              10  Essence            4      1.400  430000
1               5  Essence            4      2.398   36000
2               9  Essence            5      0.999   33000
3               7  Essence            5      1.497   68000
4               6  Essence            4      1.999   73000
...           ...      ...          ...        ...     ...
40194           9  Essence            4        NaN      30
40195           8   Diesel            4        NaN  150000
40196           8  Essence            4        NaN   59000
40197           5   Diesel            4        NaN   38500
40198           4  Essence            4        NaN    9100

[3082 rows x 10 columns]

In [4303]:
df['boite'] = df['boite'].replace({'Automatique': 1, 'Manuelle': 0})
print(df)

              Marque             Modèle  year  kilometrage  boite  horsepower  \
0      Mercedes-Benz           Classe E  1970          0.0      1          10
1            Peugeot               2008  1970     162000.0      0           5
2              Mazda                  6  1970     256000.0      1           9
3               Ford  Ecosport Titanium  1970      60000.0      0           7
4             Toyota         C-HR Sport  1970     162000.0      1           6
...              ...                ...   ...          ...    ...         ...
40194        Peugeot                508  1970     280000.0      0           9
40195           Audi                 A4  1970     114000.0      1           8
40196        Renault             Koleos  1970      96000.0      0           8
40197       Mahindra              AUTRE  1970      10500.0      0           5
40198           Fiat      PALIO WEEKEND  1970     300000.0      0           4

          fuel  nbre_portes  cylindrée    Prix
0      Essence            4      1.400  430000
1      Essence            4      2.398   36000
2      Essence            5      0.999   33000
3      Essence            5      1.497   68000
4      Essence            4      1.999   73000
...        ...          ...        ...     ...
40194  Essence            4        NaN      30
40195   Diesel            4        NaN  150000
40196  Essence            4        NaN   59000
40197   Diesel            4        NaN   38500
40198  Essence            4        NaN    9100

[3082 rows x 10 columns]

In [4304]:
print(df['fuel'].unique())
df['essence'] = df['fuel']=='Essence'
df['diesel'] = df['fuel']=='Diesel'
df['electrique'] = df['fuel']=='Electrique'
df['hybride'] = df['fuel']=='Hybride'
df.drop('fuel', axis=1, inplace=True)
df['essence'] = df['essence'].astype(int)
df['diesel'] = df['diesel'].astype(int)
df['electrique'] = df['electrique'].astype(int)
df['hybride'] = df['hybride'].astype(int)

print(df)

['Essence' 'Diesel' 'Hybride' 'Electrique']
              Marque             Modèle  year  kilometrage  boite  horsepower  \
0      Mercedes-Benz           Classe E  1970          0.0      1          10
1            Peugeot               2008  1970     162000.0      0           5
2              Mazda                  6  1970     256000.0      1           9
3               Ford  Ecosport Titanium  1970      60000.0      0           7
4             Toyota         C-HR Sport  1970     162000.0      1           6
...              ...                ...   ...          ...    ...         ...
40194        Peugeot                508  1970     280000.0      0           9
40195           Audi                 A4  1970     114000.0      1           8
40196        Renault             Koleos  1970      96000.0      0           8
40197       Mahindra              AUTRE  1970      10500.0      0           5
40198           Fiat      PALIO WEEKEND  1970     300000.0      0           4

       nbre_portes  cylindrée    Prix  essence  diesel  electrique  hybride
0                4      1.400  430000        1       0           0        0
1                4      2.398   36000        1       0           0        0
2                5      0.999   33000        1       0           0        0
3                5      1.497   68000        1       0           0        0
4                4      1.999   73000        1       0           0        0
...            ...        ...     ...      ...     ...         ...      ...
40194            4        NaN      30        1       0           0        0
40195            4        NaN  150000        0       1           0        0
40196            4        NaN   59000        1       0           0        0
40197            4        NaN   38500        0       1           0        0
40198            4        NaN    9100        1       0           0        0

[3082 rows x 13 columns]

In [4305]:
df.reset_index(drop=True, inplace=True)
print(df)

             Marque             Modèle  year  kilometrage  boite  horsepower  \
0     Mercedes-Benz           Classe E  1970          0.0      1          10
1           Peugeot               2008  1970     162000.0      0           5
2             Mazda                  6  1970     256000.0      1           9
3              Ford  Ecosport Titanium  1970      60000.0      0           7
4            Toyota         C-HR Sport  1970     162000.0      1           6
...             ...                ...   ...          ...    ...         ...
3077        Peugeot                508  1970     280000.0      0           9
3078           Audi                 A4  1970     114000.0      1           8
3079        Renault             Koleos  1970      96000.0      0           8
3080       Mahindra              AUTRE  1970      10500.0      0           5
3081           Fiat      PALIO WEEKEND  1970     300000.0      0           4

      nbre_portes  cylindrée    Prix  essence  diesel  electrique  hybride
0               4      1.400  430000        1       0           0        0
1               4      2.398   36000        1       0           0        0
2               5      0.999   33000        1       0           0        0
3               5      1.497   68000        1       0           0        0
4               4      1.999   73000        1       0           0        0
...           ...        ...     ...      ...     ...         ...      ...
3077            4        NaN      30        1       0           0        0
3078            4        NaN  150000        0       1           0        0
3079            4        NaN   59000        1       0           0        0
3080            4        NaN   38500        0       1           0        0
3081            4        NaN    9100        1       0           0        0

[3082 rows x 13 columns]

In [4306]:
# encodage de la colonne 'Marque': freq encoding en pourcentage:
freq_encoding = df['Marque'].value_counts(normalize=True)*100
df['Marque'] = df['Marque'].map(freq_encoding)
df['Marque'] = df['Marque'].fillna(df['Marque'].median())

print(df)

         Marque             Modèle  year  kilometrage  boite  horsepower  \
0      7.024520           Classe E  1970          0.0      1          10
1     10.470510               2008  1970     162000.0      0           5
2      1.424785                  6  1970     256000.0      1           9
3      4.241219  Ecosport Titanium  1970      60000.0      0           7
4      2.485089         C-HR Sport  1970     162000.0      1           6
...         ...                ...   ...          ...    ...         ...
3077  10.470510                508  1970     280000.0      0           9
3078   3.180915                 A4  1970     114000.0      1           8
3079   6.163022             Koleos  1970      96000.0      0           8
3080   1.192843              AUTRE  1970      10500.0      0           5
3081   4.406892      PALIO WEEKEND  1970     300000.0      0           4

      nbre_portes  cylindrée    Prix  essence  diesel  electrique  hybride
0               4      1.400  430000        1       0           0        0
1               4      2.398   36000        1       0           0        0
2               5      0.999   33000        1       0           0        0
3               5      1.497   68000        1       0           0        0
4               4      1.999   73000        1       0           0        0
...           ...        ...     ...      ...     ...         ...      ...
3077            4        NaN      30        1       0           0        0
3078            4        NaN  150000        0       1           0        0
3079            4        NaN   59000        1       0           0        0
3080            4        NaN   38500        0       1           0        0
3081            4        NaN    9100        1       0           0        0

[3082 rows x 13 columns]

In [4307]:
# encodage de la colonne 'Modele': freq encoding en pourcentage:
freq_encoding = df['Modèle'].value_counts(normalize=True)*100
df['Modèle'] = df['Modèle'].map(freq_encoding)
df['Modèle'] = df['Modèle'].fillna(df['Modèle'].median())

print(df)

         Marque    Modèle  year  kilometrage  boite  horsepower  nbre_portes  \
0      7.024520  0.968604  1970          0.0      1          10            4
1     10.470510  0.467602  1970     162000.0      0           5            4
2      1.424785  0.100200  1970     256000.0      1           9            5
3      4.241219  0.133601  1970      60000.0      0           7            5
4      2.485089  0.033400  1970     162000.0      1           6            4
...         ...       ...   ...          ...    ...         ...          ...
3077  10.470510  0.434202  1970     280000.0      0           9            4
3078   3.180915  0.668003  1970     114000.0      1           8            4
3079   6.163022  0.066800  1970      96000.0      0           8            4
3080   1.192843  3.239813  1970      10500.0      0           5            4
3081   4.406892  0.200401  1970     300000.0      0           4            4

      cylindrée    Prix  essence  diesel  electrique  hybride
0         1.400  430000        1       0           0        0
1         2.398   36000        1       0           0        0
2         0.999   33000        1       0           0        0
3         1.497   68000        1       0           0        0
4         1.999   73000        1       0           0        0
...         ...     ...      ...     ...         ...      ...
3077        NaN      30        1       0           0        0
3078        NaN  150000        0       1           0        0
3079        NaN   59000        1       0           0        0
3080        NaN   38500        0       1           0        0
3081        NaN    9100        1       0           0        0

[3082 rows x 13 columns]

In [4308]:
# gerer les valeurs manquantes de la colonne cylindree:
train_data = df[df['cylindrée'].notna()]
test_data = df[df['cylindrée'].isna()]

X_train = train_data.drop(columns=['cylindrée'])
y_train = train_data['cylindrée']
X_test = test_data.drop(columns=['cylindrée'])

model = RandomForestRegressor()
model.fit(X_train, y_train)

df.loc[df['cylindrée'].isna(), 'cylindrée'] = model.predict(X_test)
print(df.isnull().sum())
print(df)

Marque         0
Modèle         0
year           0
kilometrage    0
boite          0
horsepower     0
nbre_portes    0
cylindrée      0
Prix           0
essence        0
diesel         0
electrique     0
hybride        0
dtype: int64
         Marque    Modèle  year  kilometrage  boite  horsepower  nbre_portes  \
0      7.024520  0.968604  1970          0.0      1          10            4
1     10.470510  0.467602  1970     162000.0      0           5            4
2      1.424785  0.100200  1970     256000.0      1           9            5
3      4.241219  0.133601  1970      60000.0      0           7            5
4      2.485089  0.033400  1970     162000.0      1           6            4
...         ...       ...   ...          ...    ...         ...          ...
3077  10.470510  0.434202  1970     280000.0      0           9            4
3078   3.180915  0.668003  1970     114000.0      1           8            4
3079   6.163022  0.066800  1970      96000.0      0           8            4
3080   1.192843  3.239813  1970      10500.0      0           5            4
3081   4.406892  0.200401  1970     300000.0      0           4            4

      cylindrée    Prix  essence  diesel  electrique  hybride
0       1.40000  430000        1       0           0        0
1       2.39800   36000        1       0           0        0
2       0.99900   33000        1       0           0        0
3       1.49700   68000        1       0           0        0
4       1.99900   73000        1       0           0        0
...         ...     ...      ...     ...         ...      ...
3077    8.70806      30        1       0           0        0
3078    2.35704  150000        0       1           0        0
3079    2.00007   59000        1       0           0        0
3080   10.42810   38500        0       1           0        0
3081    4.85432    9100        1       0           0        0

[3082 rows x 13 columns]

In [4309]:
df.to_csv('final_data.csv', index=False)