In [63]:
import pandas as pd
import datetime

In [64]:
df_baniola=pd.read_csv('../data/baniola.csv')
df_automobile=pd.read_csv('../data/cars.csv')

In [65]:
print(df_baniola.head())
print('--------------------------------------------------------------------')
print(df_automobile.head())

       Marque    Modèle  year        road     boite horsepower     fuel  \
0      Nissan     Micra  2020   74 500 KM  Manuelle       5 CV  Essence
1  Volkswagen      Golf  1995  287 204 KM  Manuelle       6 CV   Diesel
2    Mercedes  Classe E  2010  300 000 KM  Manuelle       7 CV   Diesel
3      Suzuki    Autres  2020   88 000 KM  Manuelle       5 CV  Essence
4     Peugeot       308  2014   99 500 KM  Manuelle       5 CV  Essence

   nbre_portes cylindrée  negociable   Prix
0          5.0       3 L  Négociable  33500
1          NaN         5  Négociable  15700
2          5.0      12 L  Négociable  72000
3          5.0       3 L  Négociable  36500
4          5.0       3 L  Négociable  34000
--------------------------------------------------------------------
          Marque                    Modèle  year        road        boite  \
0     Volkswagen                      Polo  2004  193 000 km     Manuelle
1           Land  Rover Range Rover Evoque  2014  198 000 km  Automatique
2  Mercedes-Benz                   GLA AMG  2017  150 000 km  Automatique
3        Peugeot                       208  2015  110 000 km     Manuelle
4            BMW    Série 3 coupé Kit M///  2012  152 000 km     Manuelle

  horsepower     fuel  nombre_de_portes  cylindrée transmission     Prix
0       5 cv  Essence                 5       1000   Propulsion   16 400
1      11 cv   Diesel                 5       1197    Intégrale  110 000
2       7 cv  Essence                 4       3000   Propulsion  105 000
3       5 cv  Essence                 5       1498     Traction   29 000
4      10 cv  Essence                 5       2000     Traction   74 000

In [66]:
# on va supprimer le feature "negiciable" de df_baniola car il n'a pas d'impact dans la prediction de prix des voiture.
df_baniola.drop('negociable', axis=1, inplace=True)

In [67]:
# on va supprimer le feature "transmission" de df_automobile car il n'existe pas dans df_baniola
df_automobile.drop('transmission', axis=1, inplace=True)

In [68]:
print(df_baniola.head())
print('--------------------------------------------------------------------')
print(df_automobile.head())

       Marque    Modèle  year        road     boite horsepower     fuel  \
0      Nissan     Micra  2020   74 500 KM  Manuelle       5 CV  Essence
1  Volkswagen      Golf  1995  287 204 KM  Manuelle       6 CV   Diesel
2    Mercedes  Classe E  2010  300 000 KM  Manuelle       7 CV   Diesel
3      Suzuki    Autres  2020   88 000 KM  Manuelle       5 CV  Essence
4     Peugeot       308  2014   99 500 KM  Manuelle       5 CV  Essence

   nbre_portes cylindrée   Prix
0          5.0       3 L  33500
1          NaN         5  15700
2          5.0      12 L  72000
3          5.0       3 L  36500
4          5.0       3 L  34000
--------------------------------------------------------------------
          Marque                    Modèle  year        road        boite  \
0     Volkswagen                      Polo  2004  193 000 km     Manuelle
1           Land  Rover Range Rover Evoque  2014  198 000 km  Automatique
2  Mercedes-Benz                   GLA AMG  2017  150 000 km  Automatique
3        Peugeot                       208  2015  110 000 km     Manuelle
4            BMW    Série 3 coupé Kit M///  2012  152 000 km     Manuelle

  horsepower     fuel  nombre_de_portes  cylindrée     Prix
0       5 cv  Essence                 5       1000   16 400
1      11 cv   Diesel                 5       1197  110 000
2       7 cv  Essence                 4       3000  105 000
3       5 cv  Essence                 5       1498   29 000
4      10 cv  Essence                 5       2000   74 000

In [69]:
# fusionner les 2 dataframes:
df = pd.concat([df_automobile, df_baniola], ignore_index=True)

In [70]:
print(df.head())

          Marque                    Modèle  year        road        boite  \
0     Volkswagen                      Polo  2004  193 000 km     Manuelle
1           Land  Rover Range Rover Evoque  2014  198 000 km  Automatique
2  Mercedes-Benz                   GLA AMG  2017  150 000 km  Automatique
3        Peugeot                       208  2015  110 000 km     Manuelle
4            BMW    Série 3 coupé Kit M///  2012  152 000 km     Manuelle

  horsepower     fuel  nombre_de_portes cylindrée     Prix  nbre_portes
0       5 cv  Essence               5.0      1000   16 400          NaN
1      11 cv   Diesel               5.0      1197  110 000          NaN
2       7 cv  Essence               4.0      3000  105 000          NaN
3       5 cv  Essence               5.0      1498   29 000          NaN
4      10 cv  Essence               5.0      2000   74 000          NaN

In [71]:
# drop duplicates:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)

62

In [ ]:
#  convert year to age:
current_year = datetime.datetime.now().year
print (current_year)
print (df)
df['age'] = current_year - df['year']
df=df[['Marque', 'Modèle', 'year', 'age', 'road', 'boite', 'horsepower','fuel','nbre_portes','cylindrée','Prix']]
df.drop('year', axis=1, inplace=True)
print(df)